body {
    background-image: url(https://media.cntraveler.com/photos/601b10219d4d66f32970a192/16:9/w_2560%2Cc_limit/1097988940);
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    background: #c9e8ff;
}

h1 {
    font-weight: bold;
    color: black;
    text-align: center;
}

h3 {
    color: black;
}

h5 {
    color: blue;
    font-style: italic;
}